<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="mob_lab_3" transaction-type="RESOURCE_LOCAL">

        <class>com.company.moblab3.entity.User</class>
        <class>com.company.moblab3.entity.Note</class>
    </persistence-unit>
</persistence>
